<app-header nameComponent="Serviços">
</app-header>


<ion-content class="bg-theme ion-padding">
  <ion-card style="margin-bottom: 10px !important;">
      <ion-card-content class="bg-white">
          <h4 class="text-red bold">Seja tratado no melhor instituto de odontologia!!</h4>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lectus eros. In volutpat nulla ipsum, eu auctor lectus faucibus id. Integer nec felis nulla.
          </p>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content class="bg-white">
          <p class="mg-bottom">Nossos serviços:</p>
          <ion-row class="margian-nagitive">
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Limpeza</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Extração</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Coroa</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Ponte</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                     <span class="center bg-red text-white">Clareamento</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Consulta</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Aparelho</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Cosméticos</span>
                  </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                  <ion-card>
                      <span class="center bg-red text-white">Facetas</span>
                  </ion-card>
              </ion-col>
          </ion-row>
        
      </ion-card-content>
  </ion-card>

</ion-content>
