<app-header nameComponent="Contato">
</app-header>
<ion-content class="bg-theme">
  <ion-content >
    <div class="contact-bg"></div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img src="../../../assets/Holos/holos-logo.png" alt="logo" class="logo" />
        </ion-col>

        <ion-col size="6" class="pad-0">
          <ion-card>
            <ion-card-content>
              <p class="text-red bold">Nosso número</p>
              <p class="list">+55 87 98865-0406</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="pad-0">
          <ion-card>
            <ion-card-content>
              <p class="text-red bold">E-mail</p>
              <p class="list">holos@email.com</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <form class="ion-padding">
            <p class="text-red bold big-font">Nos mande uma mensagem</p>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Nome Completo</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Número</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Mensagem</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-list>

            <ion-button expand="block" class="btn-theme-big-red">
              Enviar
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-grid>
  </ion-content>
</ion-content>
