<app-header nameComponent="Disponibilidade">
</app-header>
<ion-content class="bg-theme">
  <ion-content >
    <div class="availability-bg"></div>
    <ion-grid size="12">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img src="../../../assets/Holos/holos-logo.png" alt="logo" class="logo" />
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <p class="text-red bold">Nossos horários</p>
          <br />
          <p class="list bold">Segunda<span end>09:00 AM - 07:00 PM</span></p>
          <p class="list bold">Terça<span>09:00 AM - 07:00 PM</span></p>
          <p class="list bold">Quarta<span>09:00 AM - 07:00 PM</span></p>
          <p class="list bold">Quinta<span>09:00 AM - 07:00 PM</span></p>
          <p class="list bold">Sexta<span>09:00 AM - 07:00 PM</span></p>
          <p class="list bold">Sábado<span>09:00 AM - 05:00 PM</span></p>
          <p class="list bold">Domingo<span>Feriado</span></p>
          <p class="list bold text-red ion-text-center">
            Almoço <span>01:00PM - 02:00 PM Todo dia</span>
          </p>
        </ion-card-content>
        <ion-col>
          <ion-button expand="block" class="btn-theme-big-red" routerLink="/bookappointment"
            >Marque uma consulta</ion-button
          >
        </ion-col>
      </ion-card>
    </ion-grid>
  </ion-content>
</ion-content>
