<app-header nameComponent="Galeria">
</app-header>

<ion-content class="bg-theme">
  <ion-content class="bg-gallery">
      <ion-grid size="11" size-sm="10" class="grid-pad" >
          <ion-row>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/marca-holos-roxo.jpg" alt="image 1" (click)="showImage('www/assets/Holos/img/marca-holos-roxo.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/clareament.jpg" alt="image 2" (click)="showImage('www/assets/Holos/img/clareament.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/holos-analise.jpg" alt="image 3" (click)="showImage('www/assets/Holos/img/holos-analise.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/holos-atende-crianca.jpg" alt="image 4" (click)="showImage('www/assets/Holos/img/holos-atende-crianca.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/holos-pandemia.jpg" alt="image 5" (click)="showImage('www/assets/Holos/img/holos-pandemia.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/Holos/img/escovando-crianca.jpg" alt="image 6" (click)="showImage('www/assets/Holos/img/escovando-crianca.jpg')">
                      </ion-card-content>
                  </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-content>
</ion-content>
