<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form
  class="update-user-form ion-page"
  [formGroup]="updateUserForm"
  (ngSubmit)="updateUser()"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Atualizar dados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="update-user-content">
    <ion-row class="select-user-image-row">
      <ion-col class="user-image-col" size="5">
        <app-aspect-ratio [ratio]="{ w: 1, h: 1 }">
          <app-image-shell
            [display]="'contain'"
            class="user-image"
            animation="spinner"
            [src]="
              selectedAvatar
                ? 'data:image/jpeg;base64,' + selectedAvatar
                : '../../../../../assets/Holos/semfoto.jpg'
            "
            [alt]="'user image'"
          ></app-image-shell>
        </app-aspect-ratio>
        <ion-button
          class="change-image-btn"
          color="secondary"
          (click)="changePatientImage()"
        >
          <ion-icon class="btn-icon" slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <section class="user-details-fields fields-section">
      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">CPF</ion-label>
          <ion-input
            type="text"
            formControlName="cpf"
         
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">RG</ion-label>
          <ion-input
            type="text"
            formControlName="rg"
           
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Whatsapp</ion-label>
          <ion-input
            type="text"
            formControlName="whatsapp"
            
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Cep</ion-label>
          <ion-input
            type="tel"
            formControlName="cep"
         
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">UF</ion-label>
          <ion-input type="text" formControlName="uf"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Cidade</ion-label>
          <ion-input type="text" formControlName="cidade"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Bairro</ion-label>
          <ion-input type="text" formControlName="bairro"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Endereço</ion-label>
          <ion-input type="text" formControlName="endereco"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Número</ion-label>
          <ion-input type="text" formControlName="numero"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Celular</ion-label>
          <ion-input
            type="text"
            formControlName="celular"
          
          ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Profissão</ion-label>
          <ion-input type="text" formControlName="profissao"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Captação</ion-label>
          <ion-input type="text" formControlName="captacao"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating"
            >Nascimento</ion-label
          >
          <ion-datetime
            doneText="Pronto"
            cancelText="Cancelar"
            displayFormat="DD/MM/YYYY"
            placeholder="Escolha a data"
            formControlName="dataDeNascimento"
            monthShortNames="JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ"
          ></ion-datetime>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Indicação</ion-label>
          <ion-input type="text" formControlName="indicacao"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating"
            >Nome da Mãe</ion-label
          >
          <ion-input type="text" formControlName="nomeMae"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating"
            >Nome do Pai</ion-label
          >
          <ion-input type="text" formControlName="nomePai"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating"
            >Observação</ion-label
          >
          <ion-textarea rows="4" formControlName="observacao"></ion-textarea>
        </ion-item>

        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Sexo</ion-label>
          <ion-input type="text" formControlName="sexo"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating">Telefone</ion-label>
          <ion-input type="text" formControlName="telefone"></ion-input>
        </ion-item>
      </ion-list>
    </section>
  </ion-content>

  <ion-footer>
    <ion-row class="form-actions-wrapper">
      <ion-col>
        <ion-button
          class="delete-btn"
          expand="block"
          color="primary"
          fill="outline"
          (click)="deleteUser()"
          >EXCLUIR</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          class="submit-btn"
          expand="block"
          color="secondary"
          type="submit"
          fill="solid"
          [disabled]="!updateUserForm.valid"
          >ATUALIZAR</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-footer>
</form>
