<section>
    <ion-grid size="11" size-sm="10" *ngIf="anexos.length > 0">
      <ion-row>
        <ion-col size="6" *ngFor="let anexo of anexos">
          <ion-card>
            <ion-card-content>
                <app-image-shell [src]="'data:image/png;base64,' + anexo.anexo" alt="anexo" (click)="show(anexo)"> 
                  </app-image-shell> 
            </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    
    
    <div class="carregando" *ngIf="anexos === ''">
      <h4>Carregando Anexos...</h4>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div class="sem-anexos" *ngIf="anexos.length === 0 && anexos!== ''">
      <h4>O paciente não possui anexos</h4>
    </div>
    <div class="spacer"></div>
  </section>

