<section>
  <ion-grid size="11" size-sm="10" *ngIf="anexos.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let anexo of anexos">
        <ion-card>
          <ion-card-content>
            <img
              [src]="'data:image/png;base64,' + anexo.anexo"
              alt="anexo"
              (click)="show(anexo)"
            />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-loading
    [messageLoading]="'Carregando anexos...'"
    [messageNoResults]="'Esse paciente não possui anexos.'"
    [loading]="loading"
    [noResults]="noResults"
  >

  </app-loading>
  <div class="spacer"></div>
</section>
