<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homepage"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes Paciente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentUpdateModal()"> Editar </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="changeInfoTab($event)" value="info">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anexo">
      <ion-label>Anexos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="agenda">
      <ion-label>Agenda</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="user-content">
  <section [ngSwitch]="section">
    <ion-row class="user-info-row" *ngSwitchCase="'info'">
      <ion-col class="user-image-col" size="5">
        <app-aspect-ratio [ratio]="{ w: 1, h: 1 }">
          <app-image-shell
            [display]="'contain'"
            class="user-image"
            animation="spinner"
            [src]="
              client?.foto ? client.foto : '../../../assets/Holos/semfoto.jpg'
            "
            [alt]="'client image'"
          >
          </app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="user-details-col" size="12">
        <h2 class="user-name">
          <app-text-shell
            animation="bouncing"
            [data]="client?.nome"
          ></app-text-shell>
        </h2>
        <span class="user-age">
          <app-text-shell
            animation="bouncing"
            [data]="client?.celular ? client.celular : client.telefone"
          ></app-text-shell>
        </span>
      </ion-col>
      <ion-col class="actions-col" size="12">
        <ion-row>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="mail"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="call"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="videocam"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="text"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="client-info">
        <ng-container *ngFor="let prop of client | keyvalue">
          <ion-row *ngIf="prop.value">
            <h4>{{ prop.key | uppercase }}:</h4>
            <p>{{ prop.value }}</p>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>

    <app-agendamento *ngSwitchCase="'agenda'" [idPatient]="client?.id">
    </app-agendamento>
    <app-anexos *ngSwitchCase="'anexo'" [idPatient]="client?.id"> </app-anexos>
  </section>
</ion-content>
