<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes Paciente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentUpdateModal()"> Editar </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="changeInfoTab($event)" value="info">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anexo">
      <ion-label>Anexos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="agenda">
      <ion-label>Agenda</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="user-content">
  <section [ngSwitch]="section">
    <ion-row class="user-info-row" *ngSwitchCase="'info'">
      <ion-col class="user-image-col" size="5">
        <app-aspect-ratio [ratio]="{ w: 1, h: 1 }">
          <app-image-shell
            [display]="'contain'"
            class="user-image"
            animation="spinner"
            [src]="
              client?.foto
                ? 'data:image/jpeg;base64,' + client.foto
                : '../../../assets/Holos/semfoto.jpg'
            "
            [alt]="'client image'"
          >
          </app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="user-details-col" size="12">
        <h2 class="user-name">
          <app-text-shell
            animation="bouncing"
            [data]="client?.nome"
          ></app-text-shell>
        </h2>
        <span class="user-age">
          {{ client?.celular ? client.celular : "" }}
        </span>
      </ion-col>
      <ion-col class="actions-col" size="12">
        <ion-row>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="mail"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="call"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="videocam"
              ></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button class="action-btn" color="secondary">
              <ion-icon
                class="btn-icon"
                slot="icon-only"
                name="text"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="client-info">
        <ng-container *ngFor="let prop of client | keyvalue">
          <ion-row *ngIf="(prop.key | clientProps) && prop.value">
            <h4>{{ prop.key | clientProps }}:</h4>
            <p *ngIf="prop.key === 'dataDeNascimento'">
              {{ prop.value | date: "dd/MM/yyyy" }}
            </p>
            <p *ngIf="prop.key !== 'dataDeNascimento'">{{ prop.value }}</p>
          </ion-row>
        </ng-container>
      </ion-col>
    </ion-row>

    <app-agendamento
      *ngSwitchCase="'agenda'"
      [idPatient]="client?.id"
      (agendamentosEmit)="setAgendaCache($event)"
      [agendamentos]="agendaCache ? agendaCache : ''"
    >
    </app-agendamento>
    <app-anexos
      *ngSwitchCase="'anexo'"
      [idPatient]="client?.id"
      (anexosEmit)="setAnexosCache($event)"
      [anexos]="anexosCache ? anexosCache : ''"
    >
    </app-anexos>
  </section>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="section === 'anexo' && !isPatient"
    (click)="setAnexo()"
  >
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
