.about-bg {
  --background: none;
  background-image: url(../../../assets/img/about.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(5px) opacity(80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 
.logo {
  width: 80%;
  margin: 10% auto;
}
ion-card-content {
  width: 100% !important;
  margin: 0;
  border-radius: 5px;
  p {
    margin-bottom: 1rem;
  }
  .text-red {
    margin-bottom: 1.6rem;
    &.big-font {
      font-size: 3rem !important;
      font-weight: bold !important;
      margin-bottom: -5px;
    }
  }
}
