<section>
  <div class="legenda" *ngIf="agendamentos?.length > 0">
    <p class="text-blue"> AGUARDANDO </p>
    <p class="text-green"> FINALIZADO</p>
    <p class="text-danger"> CANCELADO </p>
    <p class="text-gold"> LEMBRETE </p>
  </div>
  <div class="tag" *ngFor="let item of agendamentos"
    [class.bg-blue]="item.situacaoDeAgendamento === 'AGUARDANDO'"
    [class.bg-green]="item.situacaoDeAgendamento === 'FINALIZADO'"
    [class.bg-danger]="item.situacaoDeAgendamento === 'CANCELADO'"
    [class.bg-gold]="item.situacaoDeAgendamento === 'LEMBRETE '"
    (click)="showAgendamento(item.id)"
  >
    <div class="tag-info" >
      <h4>Tipo</h4>
      <p>{{ item.tipoDeAgendamento}}</p>
    </div>
    <div class="tag-info">
      <h4>Dia</h4>
      <p>{{ item.horaInicial | date: 'shortDate'}}</p>
    </div>
    <div class="tag-info">
      <h4>Ínicio</h4>
      <p>{{ item.horaFinal | date: 'h:mm'}}</p>
    </div>
  </div>
  <app-loading
    [messageLoading]="'Carregando agenda...'"
    [messageNoResults]="'Esse paciente não possui agenda.'"
    [loading]="loading"
    [noResults]="noResults"
  >


  </app-loading>
</section>
