<ion-content>
  <ion-content class="bg-theme">
    <div class="bg-white">
      <ion-grid size="11" size-sm="10">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img
              src="../../../assets/Holos/holos-logo.png"
              alt="logo"
              class="logo"
            />
          </ion-col>
        </ion-row>
        <div class="sign-row">
          <!--
                      com esse ngModel, o value do botao que for clicado vai pra propriedade sign
                      da classe, e isso vai influenciar em qual view vai ser mostrada abaixo.
                  -->
          <ion-segment [(ngModel)]="sign">
            <ion-segment-button value="signin">
              <ion-label> Entrar</ion-label>
            </ion-segment-button>
            <ion-segment-button value="signup">
              <ion-label> Cadastrar</ion-label></ion-segment-button
            >
          </ion-segment>
        </div>
      </ion-grid>
    </div>
    <div padding class="bg-theme">
      <!--
              switch case usando a propriedade sign da classe
          -->
      <div [ngSwitch]="sign">
        <ion-list *ngSwitchCase="'signin'">
          <form #formLogin="ngForm" (submit)="logar()">
            <ion-grid size="11" size-sm="10" style="padding: 2rem 0">
              <ion-row>
                <ion-col class="form-theme">
                  <ion-input
                    type="text"
                    placeholder="Login"
                    class="input"
                    [(ngModel)]="login.login"
                    name="login"
                    required
                  ></ion-input>
                  <ion-input
                    type="password"
                    placeholder="Senha"
                    class="input"
                    [(ngModel)]="login.senha"
                    name="senha"
                    required
                  ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button
                    expand="block"
                    class="btn-theme-big-red"
                    routerLink="/home"
                    type="submit"
                    [disabled]="formLogin.invalid"
                    >Entrar</ion-button
                  >
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                  <p class="info-text">Usuário novo?</p>
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    routerLink="/home"
                    expand="block"
                    class="btn-theme-big-white"
                    (click)="sign = 'signup'"
                    >Cadastre-se</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-list>
        <ion-list *ngSwitchCase="'signup'">
          <form
            #formCadastro="ngForm"
            [formGroup]="cadastroForm"
            (submit)="cadastrar()"
          >
            <ion-grid size="11" size-sm="10" style="padding-top: 2rem 0">
              <ion-row>
                <ion-col class="form-theme">
                  <ion-input
                    type="email"
                    placeholder="E-mail"
                    class="input"
                    required
                    formControlName="email"
                  ></ion-input>
                  <div class="error-container">
                    <ng-container *ngFor="let validation of validations.email">
                      <div
                        class="error-message"
                        *ngIf="
                          emailCadastro.hasError(validation.type) &&
                          (emailCadastro.dirty || emailCadastro.touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>

                  <ion-input
                    type="text"
                    placeholder="Nome Completo"
                    class="input"
                    required
                    formControlName="nome"
                  ></ion-input>
                  <div class="error-container">
                    <ng-container *ngFor="let validation of validations.nome">
                      <div
                        class="error-message"
                        *ngIf="
                          nomeCadastro.hasError(validation.type) &&
                          (nomeCadastro.dirty || nomeCadastro.touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>

                  <ion-input
                    type="text"
                    placeholder="Crie um Login"
                    class="input"
                    required
                    formControlName="login"
                  ></ion-input>
                  <div class="error-container">
                    <ng-container *ngFor="let validation of validations.login">
                      <div
                        class="error-message"
                        *ngIf="
                          loginCadastro.hasError(validation.type) &&
                          (loginCadastro.dirty || loginCadastro.touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>

                  <ion-input
                    type="password"
                    placeholder="Crie uma senha"
                    class="input"
                    required
                    formControlName="senha"
                  ></ion-input>
                  <div class="error-container">
                    <ng-container *ngFor="let validation of validations.senha">
                      <div
                        class="error-message"
                        *ngIf="
                          senhaCadastro.hasError(validation.type) &&
                          (senhaCadastro.dirty || senhaCadastro.touched)
                        "
                      >
                        <ion-icon name="information-circle-outline"></ion-icon>
                        <span>{{ validation.message }}</span>
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button
                    routerLink="/home"
                    expand="block"
                    class="btn-theme-big-red"
                    type="submit"
                    [disabled]="formCadastro.invalid"
                    >Cadastrar</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-content>
