.scroll-content {
  padding-bottom: 0 !important;
}
ion-grid{
  width: 95%;
  height: 100%;
}

ion-content{
  background: white;
  --background: white;
}
.bg-white {
  border-bottom: 1px solid #c3c3c3;
}
.logo {
  width: 90%;
  margin: 25% 0;
}


@media(max-height: 668px){
  .logo{
    margin: 15% 0;
  }
}

@media(max-height: 569px){
  .logo{
    margin: 10% 0;
  }
}

@media(max-height: 534px){
  .input{
    --padding-top: 10px;
    --padding-bottom: 10px
  }
}

@media(max-height: 481px){
  .logo{
    margin: 1% 0;
  }
}


.text-input {
  color: #000 !important;
  padding-left: 4px;
}
ion-segment {
  width: 80%;
  margin: 0 auto;
}
.info-text {
  height: 4.5rem;
  font-size: 1.2rem;
}
.sign-row {
  margin-bottom: -5px;
  ion-segment-button {
    --color-checked: var(--holos-blue);
    --indicator-color: var(--holos-blue);
    ion-label {
      font-weight: bold;
      opacity: 1;
      font-size: 1rem;
      text-transform: none;
      border: none;
    }

    &:after {
      content: "";
      display: block;
      width: 50px;
      border-radius: 5px;
      position: relative;
      background: transparent;
      margin: 0 auto;
      bottom: 1px;
    }
  }
}



@media(max-height:500px){
  .info-text{
    height: 1.5rem;
  }
}

.error-container {
  .error-message {
    margin: calc(var(--page-margin) / 2) 0px;
    display: flex;
    align-items: center;
    color: var(--ion-color-danger);
    font-size: 14px;

    ion-icon {
      padding-inline-end: calc(var(--page-margin) / 2);
      flex-shrink: 0;
    }
  }
}

.form-theme .input {
  margin-bottom: 0;
  margin-top: 1rem;
}