
<app-header nameComponent="Testemunhos">

</app-header>
<ion-content>
  <ion-content class="bg-theme">
    <ion-card>
      <img src="../../../assets/img/face1.jpg" alt="name" class="img" />
      <ion-card-content>
        Eu estou muito contente com o atendimento do Instituto Holos. 
        <span><ion-icon name="remove"></ion-icon>Roberto</span>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../../assets/img/face2.jpg" alt="name" class="img" />
      <ion-card-content>
        Os preços são ótimos e todos são profissionais e extremamente qualificados. Recomendo a todos.
        <span><ion-icon name="remove"></ion-icon>Patrícia</span>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
